# Discord API interaction
discord.py          # A library for interacting with the Discord API

# Environment management
python-dotenv       # For loading environment variables from a .env file

# Database interaction
psycopg2-binary     # A PostgreSQL database adapter for Python

# Formatting utilities
tabulate            # For creating formatted tables

# Image manipulation
PyNaCl             # For voice support in discord.py